@import url(./reset.css);


body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(94.3deg, rgb(103, 142, 216) 10.9%, rgb(128, 136, 225) 87.1%);
}

.container {
    display: flex;
    width: 900px;
    height: 600px;
    border-radius: 1.5em;
    padding: 1em;
    gap: 0.5em;
}


.row {
    border-radius: 1.5em;
}

/* ------- Use flex layout to divide areas arranged in the row direction with flex: 2. -------*/
.row-1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/*------- Divide areas arranged in the column direction ------- */
.col {
    border-radius: 1.5em;
    flex: 1;
    display: flex;
    gap: 0.5em;
}

/* Use flex layout to divide areas arranged in the row direction with flex: 1 */
.col.col-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5em;
}


.col-box {
    background: rgba(95, 94, 94, 0.3);
    border: 1px solid rgb(49, 49, 53);
    backdrop-filter: blur(50px);
    border-radius: 2em;
    flex: 1;
    transition: 0.3s ease-in-out;
}

.row-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


.box {
    background: rgba(95, 94, 94, 0.3);
    border: 1px solid rgb(49, 49, 53);
    backdrop-filter: blur(50px);
    border-radius: 2em;
    flex: 1;
    transition: 0.3s ease-in-out;
}

.row-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/*------- Every box hover effect -------*/
.box:hover{
    transform: scale(1.02);
    border:3px solid  #ffffff50 ;
}

.col-box:hover{
    transform: scale(1.02);
    border:3px solid  #ffffff50 ;
}

/*------- Responsiveness Design -------*/
@media(max-width:1024px) {
    .container {
        flex-direction: column;
    }

    .row-1 {
        flex-direction: row;
    }

    .row-2 {
        flex-direction: row;
    }

    .row-3 {
        flex-direction: row;
    }

    .col {
        flex: 2;
        flex-direction: column;
    }
}
@media(max-width:650px) {
    .container{
        max-width: 900px;
        min-height: 550px;
        gap: 0.5em;
    }
    .row{
        gap: 0.5em;
    }
    .col{
        gap: 0.5em;
    }
}